body {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 0.6875rem; /* 11px / 18px = 0.6875 */
  /*
  font-size: 0.75rem;   /* 12px / 18px = 0.75rem */
  */
}
.title {
  font-size: 1rem;
  font-weight: bold;
  display: inline-block;
}
table {
  border-collapse: collapse;
}
.bold {
  font-weight: bold;
}
.c1, #tb1 .c1 {
  background-color: hsl(0, 100%, 75%);
}
.c2, #tb1 .c2 {
  background-color: hsl(35, 100%, 80%);
}
.d1, #tb1 .d1 {
  background-color: hsl(220, 45%, 70%);
}
.d2, #tb1 .d2 {
  background-color: hsl(280, 50%, 85%);
}
.r1, #tb1 .r1 {
  background-color: hsl(120, 55%, 70%);
}
.r2, #tb1 .r2 {
  background-color: hsl(70, 30%, 80%);
}
#tb1 td {
  background-color: #EEEEEE;
}
.info1 {
  width:1em;
}
.left {
  text-align: left;
}
.dark {
  background-color: #DDDDDD;
}
thead {
  vertical-align: top;
  background-color: hsl(230, 15%, 35%);
  color: white;
}
th {
  border: 1px solid #000000;
  padding: 2px;
  text-align: right;
}
td {
  border: 1px solid #000000;
  padding: 2px;
  text-align: right;
}
tr:nth-child(3n-2) td {
    border-top: 2px solid black;
}
